body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  background-color:black;
  color: lightblue;
}

footer {
  background-color: #343330;
  text-align: center;
}
